body {
  background-color: whitesmoke;
  font-family: verdana;
  position: relative;
}
img{
  position:absolute;
  height: 100vh;
  width: 50%;
  right: 0px;
  top: 0px;  
  z-index: -1;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.home-page li{
  list-style: none;
}
.list-home li{
  list-style: square !important;
}
#logout-form {
  display: inline;
}
#logout-form button {
  padding: 10px;
  margin: 0;
}
